<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ table }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>{{ table }}</h1>
    <table border="1" align="center">
        <tr>
            {% for column in data[0].cursor_description %}
                <th>{{ column[0] }}</th>
            {% endfor %}
        </tr>
        {% for row in data %}
        <tr>
            {% for item in row %}
                <td>{{ item }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <br>
    <button onclick="window.location.href='/'">Back to Home</button>
</body>
</html>
